<h1>Welcome to the replacement game</h1>
<form action="/replacement">
  <div class="form-group">
    <label for="sentence">What sentence would you like to alter?</label>
    <input id="sentence" name="sentence" class="form-control" type="text">

    <label for="word">What word would you like replaced?</label>
    <input id="word" name="word" class="form-control" type="text">

    <label for="replacement">What should the new word be?</label>
    <input id="replacement" name="replacement" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Replace Now!</button>
</form>
